@import '_colors';
@import '_animation';
*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-padding-top: 65px;
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
}

.fixed {
	display: none;
	position: fixed;
	height: 50px;
	width: 50px;
	z-index: 100;
	bottom: 160px;
	right: 0;
	color: #fff;
	font-size: 3rem;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: width 0.3s;

	&:hover {
		color: #fff;
		width: 70px;
	}

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.fb {
	background-color: #3b5998;
}

.ig {
	bottom: 100px;
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

h2 {
	text-align: center;
	font-size: 2.8rem;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.span-color {
	color: $main-color;
	font-weight: bold;
}

.underline {
	background-color: $main-color;
	height: 3px;
	width: 100px;
	margin: 0 auto 40px;
}

nav {
	z-index: 10;
	color: white;
	transition: background 0.3s;

	.navbar-brand {
		font-weight: bold;
		color: white;
		font-size: 2rem;
		transition: color 0.3s;

		&:hover {
			color: $main-color;
		}
	}

	.navbar-collapse {
		text-align: center;
	}

	.nav-link {
		margin: 0 5px;
		font-size: 2rem;
		color: white;
		text-transform: uppercase;

		&:hover {
			color: $main-color;
		}
	}

	.active {
		color: $main-color !important;
	}

	.fa-bars {
		padding: 2px;
		font-size: 2.5rem;
		color: white;
	}
}

header {
	color: white;

	h1 {
		font-size: 3rem;
	}

	p {
		font-size: 1.4rem;
	}

	.hero-img {
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-image: url(../img/porsche-1851246_1280.jpg);
		background-position: center;
		background-size: cover;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.content {
		position: relative;
		height: 100vh;
	}

	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		padding: 15px;
	}

	.btn {
		font-size: 1.8rem;
		padding: 0.3em 1.5em;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.6);
		border: 1px solid $main-color;
		text-decoration: none;
		color: $white;
	}
	.arrow {
		position: absolute;
		left: 50%;
		bottom: 20px;
		transform: translateX(-50%);
		font-size: 3rem;
		color: white;
		text-decoration: none;
	}
}

main {
	background-color: $white;
	.title {
		text-transform: uppercase;
	}

	.import {
		background-image: url(../img/port-640.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		overflow: hidden;

		.numberbox {
			padding: 1em;
			background-color: $main-color;
			text-align: center;
			text-transform: uppercase;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			font-weight: bold;
			z-index: 2;
			h3 {
				font-size: 4rem;
				font-weight: bold;
			}

			p {
				font-size: 1.6rem;
			}
		}

		.textbox {
			height: 100%;
			padding: 2em;
			background-color: $white;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-right: 2px solid $main-color;
			border-bottom: 2px solid $main-color;
			border-left: 2px solid $main-color;
			box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
			z-index: 1;

			h2 {
				font-weight: bold;
				font-size: 2.5rem;
				padding: 5px;
			}

			span {
				font-size: 1.6rem;
			}
		}
	}

	.aboutus {
		i {
			margin-top: 20px;
			font-size: 30px;
		}
		&-card-title {
			font-size: 18px;
			text-transform: uppercase;
		}
		&-card-text {
			font-size: 14px;
		}
		&-hover:hover {
			color: $main-color;
		}
	}

	.realisations {
		position: relative;
		background-image: url('../img/road-g2b88b6642_1280.jpg');
		background-position: center;
		background-size: cover;
		color: $light-gray;
		z-index: 0;

		&shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.2);
		}

		.card {
			background-color: rgba(0, 0, 0, 0.3);
			color: white;
			transition: transform 0.3s;
			border-color: $main-color;
			img {
				height: 300px;
				object-fit: cover;
			}
			&-title {
				margin-top: 10px;
				margin-bottom: 20px;
				font-size: 2.2rem;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
			}
			&-text {
				text-align: center;
				font-size: 1.9rem;
			}
			&-body {
				height: 200px;
			}
			&:hover {
				transform: scale(0.95);
			}
		}
	}

	.calculator {
		.textbox {
			height: 100%;
			width: 100%;
			border: 1px solid $main-color;
			border-radius: 5px;
			box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);

			.secondbox {
				padding: 3em;
			}

			h3 {
				background-color: $main-color;
				font-size: 3rem;
				padding: 1em;
			}

			p {
				font-size: 1.8rem;
			}

			ol {
				list-style: none;
				counter-reset: item;
				font-size: 1.7rem;

				li {
					counter-increment: item;
					padding: 0.1em;

					&::before {
						content: counter(item) '.';
						width: 10px;
						display: inline-block;
						margin-right: 15px;
						text-align: center;
						color: $main-color;
						font-weight: bold;
					}
				}
			}
		}

		.formbox {
			background-image: url(../img/euro-g3081bfdad_1280.jpg);
			background-position: center;
			background-size: cover;
			border: 1px solid $main-color;
			border-radius: 5px;
			box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			// text-align: center;

			label {
				display: block;
				font-size: 2rem;
				font-weight: bold;
				margin: 10px 0;
			}
			input {
				width: 100%;
				margin-bottom: 1.3em;
				padding: 0.4em;
				font-size: 1.8rem;
				background-color: transparent;
				border: 1px solid $main-color;
			}
			select {
				font-size: 1.8rem;
				margin-bottom: 1em;
				padding: 0.4em;
				background-color: transparent;
				border: 1px solid $main-color;
				text-decoration: none;
			}
			.wrapper {
				padding: 3em;
			}
			.row {
				background-color: $main-color;
			}

			.button-holder {
				text-align: center;
				padding: 3.5em 0 0 0;
				height: 100%;
			}
			.summary-holder {
				height: 100%;
				padding: 1.2em 0 0 0;
				text-align: center;
				font-size: 1.6rem;
			}

			.calc-btn {
				font-size: 2rem;
				padding: 0.5em 1.5em;
				border-radius: 5px;
				background-color: rgba(0, 0, 0, 0.2);
				border-color: $main-color;
				color: white;
			}
			.sum {
				font-weight: bold;
				font-size: 2.5rem;
			}
		}
	}

	.contact {
		background-image: url('../img/hong-kong-g1cf0f2549_1280.jpg');
		background-position: bottom;
		background-size: cover;
		background-attachment: fixed;

		&-bg-shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(2, 4, 22, 0.8);
		}
		.title {
			color: #fff;
			font-weight: bold;
		}
		.underline {
			background-color: #fff;
		}

		h2 {
			font-weight: bold;
			color: #fff;
			font-size: 3.5rem;
		}

		&-form {
			width: 100%;
			padding: 1em 5em 0 1em;
			input {
				display: block;
				width: 100%;
				padding: 0.7em;
				margin: 1em;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.5);
				border: 1px solid $main-color;
				font-size: 1.1rem;
				color: #fff;

				&::placeholder {
					text-align: center;
					color: $light-gray;
					letter-spacing: 2px;
				}
				&:first-of-type {
					margin-top: 0;
				}
			}

			&-text-area {
				display: block;
				width: 100%;
				height: 200px;
				max-height: 400px;
				min-height: 200px;
				padding: 0.5em;
				margin: 1em;
				text-align: center;
				font-size: 1.6rem;
				background-color: rgba(0, 0, 0, 0.5);
				border: 1px solid $main-color;
				color: #fff;
				&::placeholder {
					text-align: center;
					color: $light-gray;
					letter-spacing: 2px;
				}
			}
			&-button {
				width: 100%;
				margin: 1em;
				padding: 0.5em;
				font-size: 1.6rem;
				background-color: rgba(0, 0, 0, 0.5);
				border: 1px solid $main-color;
				color: #fff;
				margin-bottom: 0;
			}
		}

		&-info {
			height: 100%;
			margin: 1em;
			text-align: center;
			text-shadow: 0 0 50px #000;
			// border: 1px solid $main-color;
			// background-color: rgba(0, 0, 0, 0.5);
			color: $white;

			h3 {
				padding: 0.5em;
				font-size: 1.6rem;
			}
			p {
				font-size: 2rem;
			}
			a {
				text-decoration: none;
				color: $light-gray;
			}
		}
	}
}

footer {
	background-color: $main-color;
	text-align: center;
	font-size: 1.5rem;
}

@media (min-width: 375px) {
	html {
		scroll-padding-top: 73px;
	}
	nav {
		.navbar-brand {
			font-size: 2.5rem;
		}
		.fa-bars {
			padding: 5px;
		}
	}

	header {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 16px;
		}
	}

	main {
		.contact {
			&-form {
				input {
					font-size: 1.5rem;
				}
			}
			&-info {
				h3 {
					font-size: 2rem;
				}
			}
		}
	}
}
@media (min-width: 524px) {
	main {
		.calculator {
			.formbox {
				.button-holder {
					padding: 2.5em;
				}
			}
		}

		.contact {
			&-info {
				h3 {
					font-size: 2.5rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	header {
		h1 {
			font-size: 5rem;
		}
		p {
			font-size: 2rem;
		}
	}
}
@media (min-width: 992px) {
	.fixed {
		display: block;
	}
	header {
		h1 {
			font-size: 5rem;
		}
		p {
			margin: 0.5em 1em 1em 1em;
			font-size: 2.3rem;
		}
		.hero-img {
			background-image: url(../img/porsche-1851246_1920.jpg);
		}
		.btn {
			font-size: 2.5rem;
		}
	}
	main {
		.import {
			background-image: url(../img/port-1920.jpg);

			.numberbox {
				border-radius: 5px;
				padding: 2.5em;
				height: 100%;
			}

			.textbox {
				border-radius: 5px;
				// border-right: 10px solid $main-color;
				border-right: none;
				border-bottom: none;
				border-left: none;
			}
		}

		.realisations {
			background-image: url('../img/road-g5cb876e0d_1920.jpg');
		}

		.calculator {
			.formbox {
				.button-holder {
					padding: 3.5em 0;
				}
			}
		}
		.contact {
			background-image: url('../img/hong-kong-gbc88e2c73_1920.jpg');
		}
	}
}
@media (min-width: 1200px) {
	header {
		h1 {
			font-size: 5rem;
		}

		p {
			font-size: 2.3rem;
		}
	}
	h2 {
		font-size: 3rem;
	}

	main {
		.contact {
			h2 {
				font-size: 4rem;
			}
			&-form {
				input {
					font-size: 1.8rem;
				}

				&-text-area {
					font-size: 1.6rem;
				}
			}

			&-info {
				h3 {
					font-size: 3rem;
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	main {
		.calculator {
			.formbox {
				.button-holder {
					padding: 3em 0;
				}
			}
		}
	}
}
